@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Nunito+Sans:wght@400;900&display=swap');


.conteudo{
 position: relative;
 background-color:  rgba(154, 153, 153, 0.2);
 padding: 35px 35px;
 display: flex;
 align-items: center;
 margin-left: 25px;
 margin-right: 25px;
 margin-top: 25px;
 padding-bottom: 25px;
 border: 2px solid black;
 margin-bottom: 25px;

}

.introbg {
 background-color: white;
 border: solid 1px black;
 padding: 20px 20px;
 align-self: flex-start;
 margin-left: 100px;
 opacity: 90%;
 display: flex;
 max-width: 750px;
}

.intro{
  text-align: justify;
  justify-items: right;
  font-size: large;
}

.bibliografia{
 background-color: white;
 border: solid 1px black;
 padding: 25px 25px;
 margin-left: 250px;
 margin-right: 200px;
 margin-top: 10px;
 margin-bottom: 25px;
 opacity: 90%;
 text-align: justify;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}



#img1 {
  justify-content: start;
  border-radius: 15%;
}

.card-img{
  border-radius: 3%;
}

.card{
  margin-top: 8%;
  align-self: flex-start;
  justify-content: start;
  border-radius: 1%;
  width: 50%;
  height: auto;
}

ul {
  padding-left: 10px;
  list-style-type: none;
}

.li-prin{
  border-left: 6px solid #000000;
  padding-left: 10px;
}

.li-sub{
  list-style-type: disc;
  margin-left: 8%;
  padding-inline-start: 0px;
}

h1, h2{
  text-align: center;
  padding-top: 7px;
  font-family: 'Bebas Neue', cursive;
}


h3, h4 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.card-subtitle1{
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.card-subtitle2{
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-style: oblique;
}

.citacao{
  border-left: 6px solid #000000;
  padding-left: 10px;
  font-weight: 200;
  font-size: medium;
}

.imgInspira {
  border-radius: 3%;
  opacity: 100%;
  float: left;
  padding-right: 10px;
}

.inspiracao::after {
  content: "";
  clear: both;
  display: table;
}

